.header
{
    position: relative;
    width: 100%;

    background-color: #111;
    padding: 80px 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.header,
.header--map
{
    height: 400px;
}

.header--map
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    opacity: .3;
}

.header--title
{
    font-family: 'Monoton', cursive;
    font-size: 80px;

    position: relative;

    text-align: center;

    white-space: nowrap;

    color: #fff;
}

.header--date
{
    font-size: 30px;

    position: relative;

    text-align: center;

    color: #fff;
}
