.header
{
    position: relative;
    width: 100%;

    background-color: #111;
    padding: 80px 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.header--inner
{
    position: absolute;

    left: 50%;

    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.header,
.header--map
{
    height: 400px;

    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE 6-9 */
}

.header--map
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    opacity: .3;
}

.header--title
{
    font-family: 'Monoton', cursive;
    font-size: 80px;

    position: relative;

    text-align: center;

    white-space: nowrap;

    color: #fff;
}

.header--date
{
    font-size: 30px;

    position: relative;

    text-align: center;

    color: #fff;
}

@media screen and (max-width: 650px) {

    .header--map
    {
        display: none;
    }

    .header
    {
        height: auto;
        padding: 20px 0;

        background-color: #333;
    }

    .header--title
    {
        font-size: 35px;

        padding: 0 10px;
    }

    .header--inner
    {
        position: relative;
    }

    .header--date
    {
        font-size: 18px;
    }
}
