.talk
{
    position: relative;

    max-width: 600px;
    margin:0 auto 30px;

    text-align: center;
}

.talk--title
{
    font-weight: normal;
    font-size: 30px;

    margin-bottom: 5px;

    line-height: 35px;
}

.talk--author
{
    font-weight: normal;
    font-size: 18px;
    font-style: italic;

    margin: -5px 0 10px;
}

.talk--description
{
    font-size: 20px;
}
