.section
{
    margin: 0;
    padding: 120px 20px 130px;
}

.section--header
{
    font-size: 50px;
    font-weight: 500;
    line-height: 25px;

    margin-bottom: 75px;

    text-align: center;
}

.section--inner
{
    margin: 0 auto;
    max-width: 900px;
}

.section_name_people,
.section_name_for
{
    background-color: #eee;
}

.section_name_people .section--inner
{
    margin-bottom: -120px;
}

.section_name_talks .talk:last-child
{
    margin-bottom: 0;
}

.section_name_people .card,
.section_name_orgs .card
{
    display: table-cell;

    width: 50%;
    height: 90px;
    padding: 0 50px 20px 100px;
}

.section_name_people .card
{
    padding: 0 50px 120px 100px;
}

.section--pair
{
    display: table-row;
}

.section_name_when
{
    font-size: 30px;
    text-align: center;

    color: #eee;
    background: #333;
}

.section--text
{
    font-size: 20px;

    margin-top: 15px;
}

.section_name_when a
{
    color: #ddf;

    text-decoration: none;
}

.section_name_when a:hover
{
    color: #fff;

    text-decoration: underline;
}

.section_name_for a
{
    color: #88f;

    text-decoration: none;
}

.section_name_for a:hover
{
    text-decoration: underline;
}
