.section
{
    margin: 0;
    padding: 120px 20px 130px;
}

.section--header
{
    font-size: 50px;
    font-weight: 500;
    line-height: 25px;

    margin-bottom: 75px;

    text-align: center;
}

.section--inner
{
    margin: 0 auto;
    max-width: 900px;
}

.section_name_people
{
    background-color: #eee;
}

.section_name_people .section--inner
{
    margin-bottom: -120px;
}

.section_name_footer
{
    font-size: 30px;
    text-align: center;

    color: #eee;
    background: #333;
}

.section_name_talks .talk:last-child
{
    margin-bottom: 0;
}

.section_name_people .card,
.section_name_orgs .card
{
    display: table-cell;

    width: 50%;
    height: 80px;
    padding: 0 50px 20px 100px;
}

.section_name_people .card
{
    padding: 0 50px 120px 100px;
}

.section_name_people .section--pair
{
    display: table-row;
}
