.menu
{
    position: relative;

    margin: 0 0 35px;
    padding: 0;

    text-align: center;
}

.menu--item
{
    font-size: 30px;
    line-height: 20px;

    display: inline-block;

    padding: 0 20px;

    list-style: none;

    border-right : 2px solid #fff;
}
.menu--item:last-child
{
    border-right: none;
}

.menu--item a
{
    color: #fff;

    text-decoration: none;
}

.menu--item a:hover
{
    color: #999
}
